$fs-base: 16px;
$fs-xxs: 11px;
$fs-xs: 12px;
$fs-s: 14px;
$fs-n: 18px;
$fs-l: 20px;
$fs-xl: 22px;
$fs-xlm: 26px;
$fs-xxl: 36px;
$fs-xxxl: 38px;

$fw-4: 400;
$fw-7: 700;

$color-base: #364844;
$color-white: #fff;
$color-grey: #868686;

$primary: #0275d8;
$success: #0dbc91;
$color-nav: #1fa181;
$warning: #f0ad4e;
$danger: #d9534f;
$light: #f7f7f7;
$dark: #292b2c;
